/*Header*/
header{
  font-family: 'Times New Roman', Times, Georgia;
  background-color: #abb39c;
  display: grid;
  grid-template-columns: 150px auto;
}
  nav {
  display: flex;
  justify-content: space-around;
}
nav a{
  font-family: 'Times New Roman', Times, Georgia;
  text-align: center;
  padding: 35px;
  color: #33673b;
  text-decoration: none;
}
h2 {
  /* display: none; */
}
nav a:hover{
  font-family: 'Times New Roman', Times, Georgia;
  color: white;
  background-color: #33673b;
}
.logo{
  width: 100px;
}
#logo_link{
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

/*Footer*/
footer{
  background-color: #abb39c;
  color: #33673b;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}
footer a{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: #33673b;
}
footer a:hover{
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-decoration: underline;
}
footer .social img{
  padding-top: 15px;
}
.social img{
  width: 50px;
}
/*Main*/
main{
  max-width: 500px;
  margin: 0 auto;
}
body{
  background-color: antiquewhite;
}

/*Slides*/
* {box-sizing:border-box}

img{
  vertical-align: middle;
}
/* Slideshow container */

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #33673b;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #abb39c;
}

/* Caption text */
.text {
  color: black;}
  /*font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}